<div class="flex-shrink-0">
  <ul class="list-unstyled p-0">
    <li>
      <span class="ps-2"><strong>Username:</strong> {{ user.username }}</span>
    </li>
    <li class="border-top my-3"></li>
    <li>
      <a
        href="{% url 'AppBlog:draft_list' %}"
        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
      >
        <i class="bi bi-journal"></i>
        <span class="ps-2">Drafts</span>
      </a>
    </li>
    <li class="border-top my-3"></li>
    <li>
      <a
        href="{% url 'AppBlog:hashtag_list' %}"
        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
      >
        <i class="bi bi-bookmark-plus"></i>
        <span class="ps-2">Hashtags</span>
      </a>
    </li>
  </ul>
</div>
