body,
html {
  height: 100%;
  margin: 0;
}

.bg-image {
  background-image: url("./maintenance.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: flex-start; /* Align to the top of the container */
  justify-content: center;
}

.maintenance-message {
  text-align: center;
  color: #333; /* Dark color */
  margin-top: 30vh;
  font-family: "Arial", sans-serif; /* Use a formal font-family */
  font-size: 24px; /* Adjust the font size as needed */
}
